.Cards-container{
    text-align: left;
    display: flex;
    flex-direction: row;
}

@media screen and (max-width: 700px){
    .Cards-container{
        flex-direction: column;
    }
}

.Card-ui{
    margin: 1em !important;
    font-family: 'Montserrat' !important;
}

.Card-header{
    text-align: center;
}

.Card-country{
    text-transform: uppercase;
    font-size: calc(10px + 2vmin) !important;
}

.Card-trend{
    font-family: 'Montserrat' !important;
    font-weight: 600 !important;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}

.Card-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}
  
.Card-column-left {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 75%;
}

.Card-column-right {
    display: flex;
    flex-direction: column;
    text-align: right;
    width: 25%;
}

/* unvisited link */
a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: blue;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }